gunicorn

blinker==1.9.0
brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dash==3.0.4
dash-bootstrap-components==2.0.3
editables==0.5
flask
h2==4.2.0
hatchling==1.27.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
importlib-metadata==8.7.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
nest-asyncio==1.6.0
packaging==25.0
pathspec==0.12.1
pip==25.1.1
plotly==6.2.0
pluggy==1.6.0
pycparser==2.22
pysocks==1.7.1
requests==2.32.4
retrying==1.4.0
setuptools==80.9.0
tomli==2.2.1
trove-classifiers==2025.5.9.12
typing_extensions==4.14.1
urllib3==2.5.0
werkzeug
win_inet_pton==1.1.0
zipp==3.23.0
zstandard==0.23.0
